
.units {
    width: 100px;
    width: 100vw;
    width: 20vh;
    width: 10em;
    width: 20rem;
    width: 110%;
}

.unsupported_unit {
    width: 100in;
}

.multiple_vals {
    width: 20px, 40px;
    width: 100vw 20vh;
}

.all_props {
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}
