
.margin {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.padding {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}