
@keyframes {}

@keyframes test }

.test {
    color: red;
}

@keyframes next {
    from
    to {}
    not_from {}
    10%
    20% {}
    60% {}
    .test {
        
    }
}

.color {
    background-color: red;
}

.color2 {
    background-color: red;
}