
.test, .other[href] {
    color: green;
    /* width: calc(100vw - (20px * 30px)); */
}

.empty {}


#id.mine, .test:not(#iaad.dsds) {
    background-color: green;
    /* border: 1px solid rgba(255 0 255 100); */
    width: 100vw !important;
}



@layer test {
    .mine {
        width: 200px;
    }
}